{% extends 'layout.twig' %}
{% block body %}
    <div class="container">
        <h3>Western year converter</h3>

        <p>Original year was {{ year }}</p>

        <p>Western year is {{ result }}</p>

        <p>&nbsp;</p>
        <a href="/converter">Back</a>
    </div>
{% endblock %}
