{% extends 'layout.twig' %}
{% block body %}
    <p>Components:</p>
    <ul>
        <li>Helper</li>
        <li>Analyser</li>
        <li><a href="/transliterator">Transliterator</a></li>
        <li><a href="/converter">Converter</a></li>
    </ul>
{% endblock %}
